NAV_AATKOD_3_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:meta="https://api.nav.gov.hu/definitions/form_xsd_metaschema/1.0"
        xmlns:tns="https://soap.api.nav.gov.hu/definitions/model/2.0/AATKOD/3.0"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        targetNamespace="https://soap.api.nav.gov.hu/definitions/model/2.0/AATKOD/3.0">
   <import namespace="https://api.nav.gov.hu/definitions/form_xsd_metaschema/1.0"
           schemaLocation="form_xsd_metaschema.xsd"/>
   <element name="Doc_AATKOD"
            type="tns:Doc_AATKOD_Type"
            meta:metaType="DocMetaType">
      <annotation>
         <documentation>Adatszolgáltatás a tartós adathordozó végleges hozzáférhetetlenné tételéhez szükséges adattörlő kód fogyasztók részére történő átadásáról</documentation>
      </annotation>
   </element>
   <complexType name="Doc_AATKOD_Type">
      <annotation>
         <documentation>A teljes bizonylat szerkezetet leíró típus</documentation>
      </annotation>
      <sequence>
         <element name="Form_AATKOD"
                  type="tns:Form_AATKOD_Type"
                  minOccurs="1"
                  maxOccurs="1"
                  meta:metaType="FormMetaType">
            <annotation>
               <documentation>AATKOD részbizonylat</documentation>
            </annotation>
         </element>
      </sequence>
   </complexType>
   <complexType name="Form_AATKOD_Type">
      <annotation>
         <documentation>A teljes nyomtatvány AATKOD részbiztonylatának szerkezetét leíró típus.</documentation>
      </annotation>
      <sequence>
         <element name="Block_120001"
                  type="tns:Block_AATKOD_120001_Type"
                  minOccurs="0"
                  meta:metaType="BlockMetaType">
            <annotation>
               <documentation>Adatszolgáltatás a tartós adathordozó végleges hozzáférhetetlenné tételéhez szükséges adattörlő kód fogyasztók részére történő átadásáról</documentation>
            </annotation>
         </element>
      </sequence>
   </complexType>
   <complexType name="Block_AATKOD_120001_Type">
      <annotation>
         <documentation>Adatszolgáltatás a tartós adathordozó végleges hozzáférhetetlenné tételéhez szükséges adattörlő kód fogyasztók részére történő átadásáról</documentation>
      </annotation>
      <all>
         <element name="FieldGroup_120002"
                  type="tns:FieldGroup_AATKOD_120002_Type"
                  minOccurs="0"
                  meta:metaType="FieldGroupMetaType">
            <annotation>
               <documentation>Adózó adatai</documentation>
            </annotation>
         </element>
         <element name="Chain_120005"
                  type="tns:Chain_AATKOD_120005_Type"
                  minOccurs="0"
                  meta:metaType="ChainMetaType">
            <annotation>
               <documentation>Adatszolgáltatás az adattörlő kódról</documentation>
            </annotation>
         </element>
      </all>
   </complexType>
   <complexType name="Chain_AATKOD_120005_Type">
      <annotation>
         <documentation>Adatszolgáltatás az adattörlő kódról</documentation>
      </annotation>
      <sequence>
         <element name="Chain_elem" minOccurs="0" maxOccurs="349965">
            <annotation>
               <documentation>Lánc ismétlődő elemei</documentation>
            </annotation>
            <complexType>
               <sequence>
                  <element name="FieldGroup_120006"
                           type="tns:FieldGroup_AATKOD_120006_Type"
                           minOccurs="1"
                           meta:metaType="FieldGroupMetaType">
                     <annotation>
                        <documentation>Adatszolgáltatás az adattörlő kódról</documentation>
                     </annotation>
                  </element>
               </sequence>
            </complexType>
         </element>
      </sequence>
   </complexType>
   <complexType name="FieldGroup_AATKOD_120002_Type">
      <annotation>
         <documentation>Adózó adatai</documentation>
      </annotation>
      <all>
         <element name="Field_0A0001C010A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Adószáma (Főlap_adószám)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="11"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001C011A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Neve (Főlap_adózó_név)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="80"/>
                  <pattern value="\P{C}+"/>
               </restriction>
            </simpleType>
         </element>
      </all>
   </complexType>
   <complexType name="FieldGroup_AATKOD_120006_Type">
      <annotation>
         <documentation>Adatszolgáltatás az adattörlő kódról</documentation>
      </annotation>
      <all>
         <element name="Field_01XXXXC0001AA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Adathordozó értékesítését igazoló bizonylat sorszáma ([01]A1)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="80"/>
                  <pattern value="\P{C}+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_01XXXXC0001BA"
                  minOccurs="0"
                  type="xs:date"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Átadás dátuma ([01]B1)</documentation>
            </annotation>
         </element>
         <element name="Field_01XXXXC0001CA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Fogyasztónak átadott adattörlő kód ([01]C1)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="16"/>
                  <pattern value="[A-Z0-9]+"/>
               </restriction>
            </simpleType>
         </element>
      </all>
   </complexType>
</schema>
